:root {
    --bg-color-gradient: linear-gradient(45deg, rgb(0, 0, 0), rgb(26, 26, 26));
}

* {
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    background: var(--bg-color-gradient);
    display: list-item;
}

h1{
    display: block;
    text-align: center;
    color: rgb(255, 120, 120);
    padding-top: 100px;
}

h2{
    display: block;
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

p{
    display: block;
    text-align: center;
    padding-top: 50px;
    color: rgb(121, 121, 121);
}

#text{
    color:rgb(0, 162, 255);
    text-decoration: underline;
}