<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lechixy | link page</title>
    <script src="https://kit.fontawesome.com/25bc89a4e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">
</head>
<script>
    function animateTitle() {
        i >= message.length - 1 ? (i = 0) : i++,
            (document.title = message[i]),
            setTimeout("animateTitle()", 500);
    }
    var message = [
        "lechixy | link page",
        "▁",
        "▁▂",
        "▁▂▃",
        "▃▂▁",
        "▂▁",
        "▁",
        "lechixy | link page",
    ],
        i = 0;
    animateTitle();
</script>

<body>
    <div class="main">

        <div class="social-links">
            <a href="https://instagram.com/lechixy/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitch.tv/lechixy/" target="_blank">
                <i class="fab fa-twitch"></i>
            </a>
            <a href="https://steamcommunity.com/id/lechixy/" target="_blank">
                <i class="fab fa-steam"></i>
            </a>
            <a href="https://open.spotify.com/user/31frempzaphgs26vlu4nn7tpagki?si=43cbe71dd7aa45db" target="_blank">
                <i class="fab fa-spotify"></i>
            </a>
            <a href="https://github.com/Lechixy" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://discord.com/oauth2/authorize?client_id=753906874729889853&permissions=8&scope=bot%20applications.commands"
                target="_blank">
                <i class="fab fa-discord"></i>
            </a>
        </div>

        <p class="text">Here is some <span class="underline">social links</span> of me!</p>

    </div>
</body>

</html>