<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lechixy | link page</title>
    <script src="https://kit.fontawesome.com/25bc89a4e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">
</head>

<body>
    <div class="main">

        <div class="social-links">
            <a id="app" href="https://instagram.com/lechixy/" target="_blank"">
                <i class=" fab fa-instagram"></i>
            </a>
            <a id="app" href="https://twitch.tv/lechixy/" target="_blank">
                <i class="fab fa-twitch"></i>
            </a>
            <a id="app" href="https://steamcommunity.com/id/lechixy/" target="_blank">
                <i class="fab fa-steam"></i>
            </a>
            <a id="app" href="https://open.spotify.com/user/31frempzaphgs26vlu4nn7tpagki?si=43cbe71dd7aa45db"
                target="_blank">
                <i class="fab fa-spotify"></i>
            </a>
            <a id="app" href="https://github.com/Lechixy" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a id="app"
                href="https://discord.com/oauth2/authorize?client_id=753906874729889853&permissions=8&scope=bot%20applications.commands"
                target="_blank">
                <i class="fab fa-discord"></i>
            </a>
        </div>
        <h2 id="more" class="underline">Other stuffs</h2>
        <div class="below">
            <div class="pages">
                <nav>
                    <div class="dropdown">
                        <a href="/" class="home">Home</a>


                        <div class="subs">
                            <button>Pages</button>
                            <ul>
                                <li><a href="/countdown">Countdown</a></li>
                                <li><a href="/color">Color</a></li>
                                <li><a href="/heart">Heart</a></li>
                                <li><a href="/cube">Cube</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <p class="bio">
                <span class="rgb">"What we do in life, echoes in eternity."</span>
            </p>
        </div>
    </div>
</body>
<script>
    setInterval(createFlake, 200)

    function createFlake() {
        const snowflake = document.createElement("i");
        snowflake.classList.add('fas')
        snowflake.classList.add('fa-snowflake')
        snowflake.style.left = Math.random() * window.outerWidth + 'px';
        snowflake.style.animationDuration = Math.random() * 12 + 2 + 's';
        snowflake.style.opacity = Math.random();
        snowflake.style.fontSize = (Math.random() * 3) + 6 + 'px';
        snowflake.style.transform = `rotate(${Math.random() * -50 + 250}deg)`

        document.body.appendChild(snowflake)

        setTimeout(() => {
            snowflake.remove()
        }, 5000)
    }
</script>

</html>