<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lechixy | new year countdown ☃️</title>
    <script src="https://kit.fontawesome.com/25bc89a4e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="subs/countdown.css">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">
</head>

<body>
    <h1>New Year Countdown ☃️</h1>

    <div class="countdown" id="countdown">
        <div class="time">
            <h2 id="days">00</h2>
            <small>Days</small>
        </div>

        <div class="time">
            <h2 id="hours">00</h2>
            <small>Hours</small>
        </div>

        <div class="time">
            <h2 id="minutes">00</h2>
            <small>Minutes</small>
        </div>

        <div class="time">
            <h2 id="seconds">00</h2>
            <small>Seconds</small>
        </div>
    </div>

</body>
<script>
    const days = document.getElementById('days')
    const hours = document.getElementById('hours')
    const minutes = document.getElementById('minutes')
    const seconds = document.getElementById('seconds')

    const currentYear = new Date().getFullYear()

    const newYearTime = new Date(`January 01 ${currentYear + 1} 00:00:00`)

    function updateCountdown() {
        const currentTime = new Date();
        const diff = newYearTime - currentTime;

        const d = Math.floor(diff / 1000 / 60 / 60 / 24);
        const h = Math.floor(diff / 1000 / 60 / 60) % 24;
        const m = Math.floor(diff / 1000 / 60) % 60;
        const s = Math.floor(diff / 1000) % 60;

        days.innerHTML = d;
        hours.innerHTML = h < 10 ? '0' + h : h;
        minutes.innerHTML = m < 10 ? '0' + m : m;
        seconds.innerHTML = s < 10 ? '0' + s : s;
    }

    setInterval(updateCountdown, 1000)
    setInterval(createFlake, 100)

    function createFlake() {
        const snowflake = document.createElement("i");
        snowflake.classList.add('fas')
        snowflake.classList.add('fa-snowflake')
        snowflake.style.left = Math.random() * window.innerWidth + 'px';
        snowflake.style.animationDuration = Math.random() * 3 + 2 + 's';
        snowflake.style.opacity = Math.random();
        snowflake.style.fontSize = Math.random() * 10 + 10 + 'px';
        snowflake.style.transform = `rotate(${Math.random() * -50 + 250}deg)`

        document.body.appendChild(snowflake)

        setTimeout(() => {
            snowflake.remove()
        }, 5000)
    }

</script>

</html>