@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;    
    margin: 0;
    overflow: hidden;
    color: #fff;
    animation: blueToRed 15s linear infinite;
}

@keyframes blueToRed{
    0%{
        background: #b10015;
    }
    20%{
        background: #500009;
    }
    40%{
        background: #0099ff;
    }
    60%{
        background: #008f47;
    }
    80%{
        background: #cabd00;
    }
    100%{
        background: #b10015;
    }
}

h1{
    font-weight: normal;
    font-size: 60px;
    margin-top: 200px;
}

.countdown{
    display: flex;
    flex-wrap: wrap;
    transform: scale(2);
}

.time{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 5px;
}

.fa-snowflake{
    animation: fall linear forwards;
    color: #ffffff;
    position: absolute;
    top: -20px;
    filter: brightness(5px);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.486),
    0 0 20px rgba(255, 255, 255, 0.719),
    0 0 30px white;
}

@keyframes fall{
    to {
        transform: translateY(105vh) rotate(360deg);
    }
}