<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lechixy | anime</title>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">
    <link rel="stylesheet" href="other/anime.css">
    <script src="other/scripts/anime.js"></script>
</head>
    <body>
        <div class="main">

            <div class="area">
                <img alt="anime photo" class="photo src" src="favicon.jpg">

                <button class="btn" translate="yes" onclick="getImage()">Get</button>
            </div>

        </div>
    </body>
</html>