<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lechixy | colors generator</title>
    <link rel="stylesheet" href="other/colors.css">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.jpg">
</head>

<body>

    <button class="btn" onclick="addColor();">Resfresh</button>
    <section class="container">
    </section>

    <p id="all-rights">
        Colors Generator | https://www.youtube.com/watch?v=cDr_Lx12bQQ from Online Tutorials
        <br>Modified by Lechixy
    </p>

    <script>
        for (let i = 1; i <= 100; i++) {
            const box = document.createElement('div');
            box.classList.add('box');
            document.querySelector('.container').appendChild(box);
        }

        const btn = document.querySelector('.btn')
        const randomColorBlock = document.querySelectorAll('.box')

        function randomHexCode() {
            var chars = "0123456789abcdef"
            var length = 6
            var color = ""

            for (var i = 0; i < length; i++) {
                var randomized = Math.floor(Math.random() * chars.length)
                color += chars.substring(randomized, randomized + 1)
            }

            return "#" + color;
        }

        function addColor() {
            randomColorBlock.forEach(e => {
                var newlyColor = randomHexCode()
                e.style.backgroundColor = newlyColor;
                e.innerHTML = newlyColor;
            })
        }
    </script>

</body>

</html>